.history/

.env

*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.zip



*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.zip

# firebase-adminsdk.json
finalproject-teamd-firebase-adminsdk-wi4w6-33f4158e98.json

venv/